.markdown-section blockquote {
  // border: solid 2px #f00;
  border: 0;
  padding: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-style: italic;
  font-family: $font-family-quote;
  position: relative;

  *:last-child {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    border-top: solid 2px $color-divider;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
