{% extends template.self %}

{% block head %}
  {{ super() }}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora|Work+Sans|Roboto" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block page %}
  {{ super() }}
{% endblock %}

{% block search_results %}
  {% if page.wip %}
    {% include "website/alert-wip.html" %}
  {% endif %}
  {{ super() }}
{% endblock %}
