$color-green: #a3be8c;
$color-green-dark: #778B66;
$color-red: #bf616a;
$color-red-dark: #8C474E;

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);

$divider: rgba(0, 0, 0, 0.2);

$alert-bg: #FFEA00;
$alert-bg-alt: #fff;

$alert-border: solid 2px var($alert-bg);

/* $font-family-base: 'Open Sans', sans-serif; */
$font-family-base: 'Work Sans', sans-serif;
$font-family-heading: 'Josefin Sans', sans-serif;
$font-family-monospace: 'Fira Mono', 'Source Core Pro', Menlo, monospace;
